/*--scss:defaults--*/


//Custom Theme Palette
$my-bg-color: #e8dcb8;
$my-text-color: #5a3d55;
$my-accent-color: #483C32;

//Map to Quatro Body

$body-bg:$my-bg-color; //webpage background center
$body-color:$my-text-color; //webpage text color
$link-color: $my-accent-color; //webpage hyperlink

//Navbar Styling
$navbar-bg:#b49a83;
$navbar-fg:#5e6253;

