.quarto-listing .listing-title,
.quarto-listing td {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}

.quarto-listing table {
  table-layout: auto;
}